/* .sidebar-container {
    width: 276px;
} */

.sidebar-text {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.sidebar-heading {
    font-weight: 600;
    /* margin-top: 33px; */
    margin-top: 3.2%;
    /* margin-left: 38px; */
    margin-left: 13.8%;
    /* margin-bottom: 46px; */
}

.sidebar-route-container {
    margin-top: 10%;
    margin-left: 13.8%;
}

.sidebar-route {
    font-weight: 400;
    /* margin-left: 38px; */
}

